version: "3"
services:
  postgres:
    image: postgres:15
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=123456
      - POSTGRES_DB=spring_dubbo
    ports:
      - "5432:5432"
  zookeeper:
    image: zookeeper:3.8.0
    ports:
      - "2181:2181"
      - "2888:2888"
      - "3888:3888"
  prometheus:
    image: prom/prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./src/main/config/prometheus.yml:/etc/prometheus/prometheus.yml
  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_DATASOURCES_DEFAULT_NAME=prometheus
      - GF_DATASOURCES_DEFAULT_URL=http://192.168.1.52:9090
      - GF_DATASOURCES_DEFAULT_ACCESS=proxy
