<!DOCTYPE html>
<html lang="en">
<!--/*@thymesVar id="user" type="org.apache.spring.dubbo.consumer.application.common.vo.UserVO"*/-->
<!--/*@thymesVar id="error" type="java.lang.String"*/-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<h1>Form</h1>
<form class="grid grid-cols-2 w-fit" th:action="@{/register-submit}" method="post">
    <div>
        <label for="username">username</label>
        <input id="username" name="username" />
    </div>
    <div>
        <label for="email">email</label>
        <input id="email" type="email" name="email" />

    </div>
    <div>
        <label for="password">password</label>
        <input id="password" type="password" name="password" />

    </div>
    <div>
        <label for="match">confirm</label>
        <input id="match" type="password" name="matchingPassword"/>
    </div>
    <button type="submit">submit</button>
</form>

<a th:href="@{/}">login</a>
</body>
</html>